<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<h4><%= link_to "edit task", edit_task_path %></h4>
<h4><%= link_to "Delete", task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h4>
<h4><%= link_to "back to tasks", root_path %></h4>
